{% extends "app/base.html" %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Leksjoner og forelesninger</h1>
	<p><em>For IKT og Dataelektronikk</em></p>
	<p class="lead">IKT-drift og nettverk, web og spillprogrammering</p>
</div>
	{% if perms.is_admin %}
	<p>
	<a href="{% url 'lecture_create' %}" class="btn btn-primary">Ny leksjon</a>
	</p>
	{% endif %}

<table class="table-bordered table-hover table">
	<thead>
		<th>Id</th>
		<th>Info</th>
		<th>Link</th>
		<th>Tema</th>
		<th>Oppgaver</th>
		<th>Publisert</th>
		{% if perms.is_staff %}
		<th>Rediger</th>
		{% endif %}
	</thead>
	<tbody>
		{% for l in object_list %}
		<tr>
			<td>{{l.pk}}</td>
			<td><a href="{% url "lecture_detail" pk=l.pk %}"><b>{{l.title}}</b>
			{% if l.undertitle %}<br>
			<em>{{l.undertitle}}</em>
			{% endif %}
			</a>
			{% if l.target_audience %}<br>
			<small>{{l.target_audience}}</small>
			{% endif %}
			</td>
			<td><a href="{{l.url}}/pub?start=false&loop=false&delayms=3000">
			<b>GDocs</b></a>
			</td>
			
			<td>
				{% for t in l.tags.all %}
					<span class="badge badge-pill badge-{{t.label}}">{{t.name}}</span>
				{% endfor %}
			</td>
			<td>
				<span class="badge badge-secondary">Antall: {{l.tasks|default_if_none:"-"}}</span>
				<br>
				<span class="badge badge-info">
					Last opp
				</span>
			</td>
			<td>{{l.pub_date|date:"d.m.y"|capfirst}}</td>
			{% if perms.is_staff %}
			<td>
			<a class="badge badge-secondary" href="{% url "lecture_update" pk=l.pk %}">Rediger</a>
			<a class="badge badge-danger" href="{% url "lecture_delete" pk=l.pk %}">Slett</a>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}