{% extends "app/base.html" %}
{% load bootstrap4 %}
 
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">IKT-forelesninger</h1>
	<p class="lead">Fra IKT, drift og nettverk til web og spillprogrammering.</p>
</div>
{% comment %}
<table class="table-bordered table-hover table">
	<thead>
		<th>Felt</th>
		<th>Verdi</th>
	</thead>
	<tbody>
		{{form.as_table}}
		
	</tbody>
</table>
{% endcomment %}
<form method="post">
{% csrf_token %}
{% bootstrap_form form %}
<button type="submit" class="btn btn-primary">Lagre</button>
</form>
{% endblock content %}