{% extends "app/base.html" %}
{% load bootstrap4 %}
 
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Ny tag</h1>
	<!-- 
	<p class="lead">I forhold til leksjoner er en tag referert til som en "kategori"</p>
	 -->
</div>
<div class="card">
<div class="card-body">
<p>Mulige Bootstrap-klasser:<br>
<span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>
</p>
<p>Eksisterende tags: <br>
{% for tag in view.all_tags %}
	<a href="{% url 'tag_update' pk=tag.pk %}">
	<span class="badge badge-{{tag.label}}">{{tag.name}}</span>
	</a>
{% endfor %}
<form method="post">
{% csrf_token %}
{% bootstrap_form form %}
<button type="submit" class="btn btn-primary">Lagre</button>
</form>
</div>
	</div>
{% endblock content %}